.ansvers {
  margin-top: 60px;
}

.ansvers-title {
  font-size: 40px;
  line-height: 1.17;
  font-weight: 400;
  max-width: 607px;
}

.ansvers-text {
  font-size: 30px;
  line-height: 1.16;
  margin-left: 65px;
}

.ansvers-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 124px;
  margin-top: 42px;
}

.ansvers-item:not(:last-child) {
  margin-bottom: 40px;
}

.ansvers-question {
  position: relative;
  display: block;
  max-width: 577px;
  background-color: $def-gray-color;
  border-radius: 15px;
  font-size: 18px;
  line-height: 1.35;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 40px;

  &::before {
    position: absolute;
    content: "";
    width: 44px;
    height: 29px;
    bottom: -26px;
    background-repeat: no-repeat;
    background-image: url("../../img/icons/triangle.svg");
  }
}

.ansvers-ansver {
  position: relative;
  max-width: 786px;
  background-color: $ansver-color;
  border-radius: 15px;
  font-size: 18px;
  line-height: 1.35;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 40px;
  align-self: flex-end;

  &::before {
    position: absolute;
    content: "";
    width: 44px;
    height: 29px;
    bottom: -26px;
    right: 40px;
    background-repeat: no-repeat;
    background-image: url("../../img/icons/triangle-pink.svg");
  }
}

.ansvers-link {
  position: relative;
  display: block;
  padding-bottom: 17px;

  &::after {
    position: absolute;
    content: "";
    width: 222px;
    height: 1px;
    bottom: 16px;
    left: 1px;
    background-color: $dark-gray-color;
  }

  &--second::after {
    width: 244px;
  }
}