  .content {
    background-color: $def-gray-color;
    background-repeat: no-repeat;
    background-image: url("../../img/main.jpg");
    background-position: center;
    background-size: cover;
    min-height: 641px;
  }