.content-description {
  margin-top: 111px;
  color: $def-white-color;
}

.content-description__wrapper {
  padding: 0 50px 0 50px;
}

.content-description-name {
  font-size: 50px;
  line-height: 1.18;
  font-weight: 400;
}

.content-description-text {
  max-width: 603px;
  font-size: 18px;
  line-height: 1.35;
  font-weight: 300;
}

.content-description-button {
  position: relative;
  color: $def-white-color;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;

  &::after {
    position: absolute;
    content: "";
    width: 139px;
    height: 7px;
    left: 0;
    bottom: -8px;
    background-repeat: no-repeat;
    background-image: url("../../img/icons/arrow.svg");
  }
}

.content-description-address {
  position: absolute;
  bottom: 30px;
  font-style: normal;
}
