.rest {
  padding-bottom: 145px;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../../img/sweets.jpg");
  background-position: 100% 0;
}

.rest-title {
  display: block;
  font-size: 40px;
  line-height: 1.17;
  font-weight: 400;
  margin-bottom: 5px;
}

.rest-comfort {
  font-size: 30px;
  line-height: 1.16;
  font-weight: 400;
  padding-left: 20px;
}

.rest-text {
  max-width: 492px;
  padding-left: 20px;
}

.rest-link {
  position: relative;
  font-size: 18px;
  line-height: 1.35;
  padding-left: 20px;

  &::after {
    position: absolute;
    content: "";
    width: 198px;
    height: 12px;
    bottom: -11px;
    left: 22px;
    background-repeat: no-repeat;
    background-image: url(../../img/icons/arrow-rest.svg);
  }
}