.social {
  max-width: 142px;
  margin-top: 295px;
  padding-bottom: 38px;
  transform: translateX(-12px);
}

.social__sign-up {
  position: relative;
  border: 1px solid $gray-border-color;
  border-radius: 27px;
  padding: 9px 14px 11px 40px;

  &::before {
    position: absolute;
    content: "";
    left: 13px;
    top: 8px;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-image: url("../../img/icons/whatsapp-icon.svg");
  }
}