.page {
  height: 100%;
  box-sizing: border-box;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  background-color: white;
  counter-reset: section;
  overflow-x: hidden;
}
