// LISTS

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

// BOX-SIZING

*,
*::before,
*::after {
  box-sizing: border-box;
}

// IMAGES

img {
  max-width: 100%;
}

// LINKS

a {
  text-decoration: none;
  color: $def-black-color;
}

// h1,h2,h3,h4,h5,h6

.heading {
  margin: 0;
  padding: 0;
}
